body {
    background-color: #fff;
}

nav {
    position: static;
}

.headImg {
    height: 5.4rem;
    background: url("../images/about/banner.png") no-repeat center/100% 100%;
}

main .container {
    padding-top: 0.7rem;
    color: #333;
    font-size: 0.16rem;
    line-height: 0.24rem;
}

/*文章*/
main article header {
    font-size: 0.3rem;
    padding-bottom: 0.34rem;
}

article .cont {
    padding: 0.4rem 0;
    border-top: 0.01rem dashed #ccc;
    border-bottom: 0.01rem dashed #ccc;
}

article .cont p {
    line-height: 0.24rem;
    padding-bottom: 1em;
    text-indent: 2em;
}

article .cont p:last-child {
    padding-bottom: 0;
}